Horizontal {
    width: auto;
    height: auto;
}

Vertical {
    width: auto;
    height: auto;
}

#vertical-left {
    width: 25;
}

DataTable:focus-within {
    background: $primary-lighten-1;
}

#device-container {
    background: $primary-lighten-3;
    height: 6;
}

#device-table {
    height: 100%;
}


#module-table {
    width: 25;
}


#module-container {
    width: 25;
    background: $primary-lighten-3;
}

#module-table {
    width: 25;
    height: 100%;
}

#field-container {
    /* background: whitesmoke; */
    background: $primary-lighten-3;
    margin-left: 1;
}

#field-table {
    height: 100%;
}

CanFooter {
    dock: bottom;
    height: 1;
    background: $primary-darken-2;
}

Header {
    background: $primary-darken-2;
}

QuitWidget {
    align: center middle;
}

QuitWidget>Container>Vertical>Label {
    margin-bottom: 1;
}

CanFieldEditWidget {
    align: center middle;
}


CanFieldEditWidget>Container {
    width: auto;
    height: auto;
    border: thick $background 90%;
    background: $surface;
}

QuitWidget>Container {
    width: auto;
    height: auto;
    border: thick $background 90%;
    background: $surface;
    padding: 1;
}

CanFieldEditWidget>Container>Horizontal>Input {
    width: auto;
    height: auto;
    margin-top: 1;
    border: none;
    margin-left: 1;
}

#input-value {
    background: pink;
}

#input-jog {
    background: grey;
    margin-right: 1;
    margin-top: 1;
}

CanFieldEditWidget>Container>Horizontal>Label {
    margin-left: 2;
    margin-top: 1;
}

CanFieldEditWidget>Container>Horizontal>Button {
    margin: 1;

}

CanFieldEditWidget>Container>Horizontal {
    width: auto;
    height: auto;
}