Horizontal {
    width: 100%;
    height: 100%;
}

#vertical-left {
    width: 25;
}

DataTable:focus-within {
    background: blue;
}

#device-container {
    /* background: palegoldenrod; */
}

#module-table {
    width: 25;
}


#module-container {
    width: 25;
    /* background: lightskyblue; */
}

#module-table {
    width: 25;
    height: 100%;
}

#field-container {
    /* background: whitesmoke; */
}


#field-table {
    height: 100%;
}

CanFooter {
    dock: bottom;
    height: 1;
    background: ansi_blue;
}

Header {
    background: mediumslateblue;
}

CanFieldEditWidget {
    align: center middle;
}

CanFieldEditWidget>Container {
    width: auto;
    height: auto;
    border: thick $background 80%;
    background: $surface;
}

CanFieldEditWidget>Container>Horizontal>Input {
    width: auto;
    height: auto;
    margin-top: 1;
    border: none;
    margin-left: 1;
}

#input-value {
    background: pink;
}

#input-jog {
    background: grey;
    margin-right: 1;
    margin-top: 1;
}

CanFieldEditWidget>Container>Horizontal>Label {
    margin-left: 2;
    margin-top: 1;
}

CanFieldEditWidget>Container>Horizontal>Button {
    margin: 1;

}

CanFieldEditWidget>Container>Horizontal {
    width: auto;
    height: auto;
}